{% extends '::layoutiAdmin.html.twig' %}

{% block body -%}
    <h1>Incident edit</h1>

    <div class="col-md-6">
    	{{ form_start(edit_form, {'attr': {'id': 'form_expert_edit'}} ) }}
    		<div> 
				{{ form_label(edit_form.type) }}
				{{ form_errors(edit_form.type) }}
				{{ form_widget(edit_form.type) }}
    		</div>
    		<div> 
				{{ form_label(edit_form.description) }}
				{{ form_errors(edit_form.description) }}
				{{ form_widget(edit_form.description) }}
    		</div>
    		<div> 
				{{ form_label(edit_form.categorie) }}
				{{ form_errors(edit_form.categorie) }}
				{{ form_widget(edit_form.categorie) }}
    		</div>
    		
			{{ form_widget(edit_form.submit, {"attr": {"class":"display-none"}}) }}

    	{{ form_end(edit_form) }}

		<div class="form-group">
			<ul  class="actions">
				<li>
			        <a href="{{ path('expert_incident') }}" 
			        	class="btn 	 btn-warning">
			        	<i class="fa fa-chevron-left"></i>
			            Retour sur la liste
			        </a>    					
				</li>
				<li>
					<button type="submit" 
							form="form_expert_edit" 
							value="Submit" 
							class="btn btn-primary">
						Traiter
					</button>
				</li>
				<li>
    				{{ form_start(delete_form) }}
    					{{ form_widget(delete_form.submit, {'attr': {'class': "btn btn-danger"} }) }}
    				{{ form_end(delete_form) }}
				</li>
			</ul>
		</div>
    </div>
{% endblock %}
