{% extends '::layoutiAdmin.html.twig' %}

{% block body -%}
    <center><h1>Liste des incidents</h1></center>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('expert_incident_show', { 'id': entity.id }) }}">{{ entity.incident.id     }}</a>
                    </td>
                    <td>{{ entity.incident.type }}</td>
                    <td>
                        {% if entity.incident.traitee == true %}    
                            Incident traité <a href="{{ path('expert_incident_show', { 'id': entity.id }) }}" class="btn btn-sm btn-info"/><i class="fa fa-1x fa-eye"></i>voir</a>      
                        {% else %}    
                            {{ form(entity.form) }}
                        {% endif %} 
                        
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <a href="{{ path('expert_incident_new') }}" class="btn btn-sm btn-default">
                <i class="fa fa-2x fa-edit"></i>Cr&eacute;er nouvel incident
            </a>
        </ul>
    </div>
    {% endblock %}
