{% extends '::layoutiAdmin.html.twig' %}

{% block body -%}
    <center><h1>Liste des incidents</h1></center>
    <hr>
    <ul>
        <a href="{{ path('expert_incident_new') }}" class="btn btn-sm btn-success">
            <i class="fa fa-1x fa-plus "></i> Ajouter un incident
        </a>
    </ul>
    <div class="col-lg-7">
        <table class="table table-bordered table-hover">
            <thead class="bg-primary">
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>traité par</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('expert_incident_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                    </td>
                    <td>{{ entity.type }}</td>
                    {% if entity.traitee == true %}    
                        <td>{{ entity.user.username|upper }}</td>
                        <td>
                                Incident traité <a href="{{ path('expert_incident_show', { 'id': entity.id }) }}" class="btn btn-sm btn-info"/><i class="fa fa-1x fa-eye"></i> voir</a>      
                        </td>
                    {% else %}    
                        <td>--</td>
                        <td>
                            <a href="{{ path('expert_incident_edit', {'id': entity.id}) }}" class="btn btn-sm btn-default">
                                <i class="fa fa-1g fa-edit"></i> Traiter 
                            </a>
                        </td>
                    {% endif %} 
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
