{% extends '::layoutiAdmin.html.twig' %}

{% block body -%}
    <center><h1>Liste des alertes</h1></center>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_alerte_show', { 'id': entity.id }) }}">{{ entity.incident.id }}</a></td>
                    <td>{{ entity.incident.type }}</td>
                    <td>
                    {% if entity.incident.traitee == true %}    
                        Incident déja traitée
                    {% else %}    
                        {{ form(entity.form) }}
                    {% endif %}       
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <a href="{{ path('admin_alerte_new') }}" class="btn btn-sm btn-default">
                <i class="fa fa-2x fa-edit"></i>Cr&eacute;er nouvelle alerte
            </a>
        </ul>
    </div>
    {% endblock %}
