{% extends "CertIncidentBundle::layouti.html.twig" %}

{% block title %} 
	Incident - {{ parent() }} 
{% endblock %}

{% block certincident_body %}

	<div class="well">
		<h2><center>Liste des Vuln&eacute;rabilit&eacute;s</center> </h2>
	</div>
		{% for vulnerabilite in pagination %}
		<table class="table table-bordered table-hover table-striped" id="tab_logic">
	        <tbody {% if loop.index is odd %} class="color"{% endif %}>
	        	<tr>
	                <th class="bg-primary">{{ knp_pagination_sortable(pagination, 'Id', 'Vulnerabilite.id') }}</th>
	                <td><h4>{{ knp_pagination_sortable(pagination, 'Id', 'Vulnerabilite.id') }}</h4></td>
	            </tr>
	            <tr>
	                <th {% if pagination.isSorted('Alerte.Titre')%}class="sorted"{% endif %}>
	                	{{ knp_pagination_sortable(pagination, 'Titre', 'Vulnerabilite.titre') }}
	                </th>
	                <td><h4>{{ vulnerabilite.titre }}</h4></td>
	            </tr>

	            <tr>
	                <th class="text-center">Sources</th>
	                <td>{{ vulnerabilite.source }}</td>
	            </tr>
	            <tr>
	                <th class="text-center">Date</th>
	                <td>{{ vulnerabilite.datepub|date('d/m/y') }}</td>
	            </tr>
	        </tbody>
    	</table>
    	<hr>
    	{% endfor %}
    <div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}