{% extends '::layoutiAdmin.html.twig' %}

{% block body -%}
    <h1>Vulnerabilite creation</h1>

    <div class="col-lg-5">

    	{{ form_start(form, {'attr': {'id': 'form_vulnerabilite_new'}}) }}

	    	{{ form_widget(form.submit, {"attr": {"class":"display-none"}}) }}

	    	{# generation automatique des champs pas encore ecrits qui est le chapmp CSRF(generee automatiquement par symfony) et tous les champs cachees de type hidden #}
	    	{{ form_rest(form) }}

	    {{ form_end(form) }}
    
		<div class="form-group">
			<ul  class="actions">
				<li>
					<button type="submit" 
							form="form_vulnerabilite_new" 
							value="Submit" 
							class="btn btn-primary">
						<i class="fa fa-chevron-plus"></i>
						Ajouter
					</button>
				</li>
				<li>
			        <a href="{{ path('admin_vulnerabilite') }}" 
			        	class="btn 	 btn-warning">
			        	<i class="fa fa-chevron-left"></i>
			            Retour sur la liste
			        </a>    					
				</li>
			</ul>
		</div>
	</div>
{% endblock %}