{% extends '::layoutiAdmin.html.twig' %}

{% block body -%}
    <h1>Vulnerabilite</h1>

   <div class="col-lg-7">
        <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Impact</th>
                <td>{{ entity.impact }}</td>
            </tr>
            <tr>
                <th>Solution</th>
                <td>{{ entity.solution }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>
                    <ul>
                        {% for ref in entity.reference %}
                            <li>{{ ref }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ entity.source }}</td>
            </tr>
            <tr>
                <th>Datepub</th>
                <td>{{ entity.datePub|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{{ entity.dateModification|date('d/m/Y') }}</td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
            <ul  class="actions">
                <li>
                    <a href="{{ path('admin_vulnerabilite') }}" 
                        class="btn   btn-warning">
                        <i class="fa fa-chevron-left"></i>
                        Retour sur la liste
                    </a>                        
                </li>
                <li>
                     <a href="{{ path('admin_vulnerabilite_edit', { 'id': entity.id }) }}" 
                        class="btn btn-primary">
                        <i class="fa fa-edit"></i>
                        Editer
                    </a>
                </li>
                 <li>
                    {{ form_start(delete_form) }}
                        {{ form_widget(delete_form.submit, {'attr': {'class': "btn btn-danger fa-trash"} }) }}
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
   
</div>
{% endblock %}