{% extends '::layoutiAdmin.html.twig' %}

{% block body -%}
    <h1>Liste Annonce </h1>
    <hr>
    <ul>
        <a href="{{ path('admin_annonce_new') }}" class="btn btn-sm btn-success">
            <i class="fa fa-2x fa-edit"></i>Cr&eacute;er nouvelle alerte
        </a>
    </ul>
    <div class="col-lg-11">
        
        <table class="table table-bordered table-hover">
            <thead class="bg-primary">
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Source</th>
                    <th>Auteur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_annonce_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.titre }}</td>
                    <td>{{ entity.source }}</td>
                    <td>{{ entity.user.username|upper }}</td>
                    <td>
                        <ul>
                            <a href="{{ path('admin_annonce_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-success"/><i class="fa fa-1x fa-edit"></i> éditer</a>
                            <a href="{{ path('admin_annonce_show', { 'id': entity.id }) }}" class="btn btn-sm btn-info"/><i class="fa fa-1x fa-eye"></i> voir</a>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
