{% extends '::layoutiAdmin.html.twig' %}

{% block body -%}
		<h1>Nouvelle Annonce</h1>

	<div class="col-lg-7">

    	{{ form_start(form, {'attr': {'id': 'form_annonce_new'}}) }}

	    	<div class="alert alert-danger">
	    	zone pour message d'erreur<br/>
	    		{{ form_errors(form) }}
	    	</div>
	    	<div>
	    		{{ form_label(form.titre,"Titre",{'label_attr':{'class': 'col-sm-3 control-label'}}) }}
	    		{{ form_errors(form.titre) }}
	    		{{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
	    	</div>
	    	<div>
	    		{{ form_label(form.fichier,"Image",{'label_attr':{'class': 'col-sm-3 control-label'}}) }}
	    		{{ form_errors(form.fichier) }}
	    		{{ form_widget(form.fichier, {'attr': {'class': 'form-control'}}) }}
	    	</div>
	    	<div>
	    		{{ form_label(form.source,"Source",{'label_attr':{'class': 'col-sm-3 control-label'}}) }}
	    		{{ form_errors(form.source) }}
	    		{{ form_widget(form.source, {'attr': {'class': 'form-control'}}) }}
	    	</div>
	    	<div>
	    		{{ form_label(form.description,"Description",{'label_attr':{'class': 'col-sm-3 control-label'}}) }}
	    		{{ form_errors(form.description) }}
	    		{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
	    	</div>

	    	{{ form_widget(form.submit, {"attr": {"class":"display-none"}}) }}

	    	{# generation automatique des champs pas encore ecrits qui est le chapmp CSRF(generee automatiquement par symfony) et tous les champs cachees de type hidden #}
	    	{{ form_rest(form) }}

	    {{ form_end(form) }}
    
		<div class="form-group">
			<ul  class="actions">
				<li>
			        <a href="{{ path('admin_annonce') }}" 
			        	class="btn 	 btn-warning">
			        	<i class="fa fa-chevron-left"></i>
			            Retour sur la liste
			        </a>    					
				</li>
				<li>
					<button type="submit" 
							form="form_annonce_new" 
							value="Submit" 
							class="btn btn-primary">
						<i class="fa fa-chevron-plus"></i>
						Ajouter
					</button>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
