{% extends '::layoutiAdmin.html.twig' %}

{% block body -%}
    <h1>Annonce</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ entity.titre }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>{{ entity.image }}</td>
                </tr>
                <tr>
                    <th>Source</th>
                    <td>{{ entity.source }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ entity.description }}</td>
                </tr>
                <tr>
                    <th>Dateannonce</th>
                    <td>{{ entity.dateAnnonce|date('d/m/Y') }}</td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <ul  class="actions">
                <li>
                    <a href="{{ path('admin_annonce') }}" 
                        class="btn   btn-warning">
                        <i class="fa fa-chevron-left"></i>
                        Retour sur la liste
                    </a>                        
                </li>
                <li>
                    <a href="{{ path('admin_annonce_edit', { 'id': entity.id }) }}" 
                        class="btn btn-primary">
                        <i class="fa fa-chevron-edit"></i>
                            Editer
                    </a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        {{ form_widget(delete_form.submit, {'attr': {'class': "btn btn-danger"} }) }}
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
        
</div>
{% endblock %}

       