{# template fils / page d'accueil du blog #}

{% extends "CertIncidentBundle::layouti.html.twig" %}

{% block title %} 
    Accueil - {{ parent() }} 
{% endblock %}

{% block certincident_body %}

<link  href="{{ asset('bundles/certincident/img/glyphicons-halflings.png') }}" rel="stylesheet">

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="{{ asset('bundles/certincident/img/slide1.png') }}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Conférence sur la cybercriminalité.</h1>
              <p id="slide1" style="color: blue;">Note: If you're viewing this page via a <code>file://</code> URL, the Face à la montée de la cybercriminalité et de la cybersécurité, la Police nationale essaie de trouver les moyens technologiques adéquats pour contrer ces armes des délinquants 3.0. En attendant, elle investit dans la coopération internationale pour essayer de minimiser les menaces.</p>
              <p><a class="btn btn-lg btn-primary" href="" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="{{ asset('bundles/certincident/img/logo1.png') }}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p id="slide2" style="color: blue;">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="{{ asset('bundles/certincident/img/logo1.png') }}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p id="slide3" style="color: blue;">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
      </a>
    </div><!-- /.carousel -->

<!--Bienvenue sur le site web CERT-SN qui opte a offrir un Internet plus suur et plus resistant pour tous les senegalais en repondant a des incidents majeurs, analyse des menaces et l'echange d'information en matiere de cybersecurite crittique avec des partenaires de confiance du monde entier <div  id="cert_image" class="col-lg-12">
            <div id="">
                <span>  <a href="{{ path('cert_incident_declarer') }}" class="btn btn-primary">Signaler un Incident</a> </span>
            </div> 
        </div>. -->
    <div id="wrapper" class="row" >
                <span>  <a id="signalerIncident" href="{{ path('cert_incident_declarer') }}" class="btn btn-primary">Signaler un Incident</a> </span>
           
    </div>
    <div id="contenuPage">
        <div class="row">
                <div class="col-lg-6 col-md-6" id="vulnerabilitePlace">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title glyphicon glyphicon-alert">Vuln&eacute;rabilit&eacute;s Rencentes</h3>
                </div>
                <div class="panel-body">
                    {# affichage des vulnerabilite se trouvant dans la base de donnees #}
                    <ul>
                        {% for vul in liste_vulnerabilite  %}
                            {% if loop.index <5 %}
                            <li class="glyphicon glyphicon-chevron-right">
                                {{ vul.titre }}
                                <a href="{{ path('cert_incident_voirVulnerabilite', { 'id': vul.id }) }}">Detail</a>
                                <br/>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <a class="btn btn-primary" id="boutonVul" href="{{ path('cert_incident_ListingVulnerabilite') }}">voir plus &raquo;</a>
                </div>
            </div>
        </div>
        <!-- /.col-sm-6 -->

        <div class="col-lg-6 col-md-6" id="alertePlace">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title glyphicon glyphicon-info-sign">Alertes de s&eacute;curit&eacute; </h4>
                </div>
                <div class="panel-body">
                    {# affichage des aleres se trouvant dans la base de donnees #}
                    <ul>
                        {% for alerte in liste_alertes %}
                            {% if loop.index <6 %}
                            <li class="glyphicon glyphicon-chevron-right">
                                {{ alerte.titre }}
                                <a href="{{ path('cert_incident_voirAlerte', { 'id': alerte.id }) }}">Detail</a><br/>
                            </li><br/>
                            {% endif %}
                          {% else %}
                            <li>Pas d'alerte pour le moment !!) </li>
                        {% endfor %}
                    </ul>
                    <a class="btn btn-primary" id="boutonAlerte" href="{{ path('cert_incident_ListeAlerte') }}">voir plus &raquo;</a>
                </div> 
            </div> 
        </div><!-- /.col-sm-6 -->
        <div class="col-lg-6 col-md-6" id="annoncePlace">
            <div class="panel panel-primary">
                <div class="panel-heading ">
                    <h4 class="panel-title glyphicon glyphicon-globe">Annonces </h4>
                </div>
                <div class="panel-body">
                    {# affichage des aleres se trouvant dans la base de donnees #}
                    <p>Quatres produits dans le syst&eacute;me nationale de sensibilisation sur la cybers&eacute;curite: elle  offre une vari&eacute;t&eacute;    
                        d'informations pour les utilisateurs possedant une expertise technique vari&eacute;e. Ceux ayant  des interets plus techniques peuvent lire les alertes, l'activit&eacute; en cours , ou les bulletins. les utilsateurs a la recherche de plusieurs pi&eacute;ces d'interet g&eacute;n&eacute;ral peuvent lire les conseils.
                    </p>
                     {# affichage des aleres se trouvant dans la base de donnees #}
                    <ul>
                        {% for annonce in liste_annonces %}
                            <li class="glyphicon glyphicon-chevron-right">
                                {{ annonce.titre }}
                                <a href="{{ path('cert_incident_voirAnnonce', { 'id': annonce.id }) }}">Detail</a><br/>
                            </li>
                          {% else %}
                            <li>Pas d'annonces pour le moment !!) </li>
                        {% endfor %}
                    </ul>
                        <a class="btn btn-primary" href="{{ path('cert_incident_ListeAnnonce') }}">liste complet &raquo;</a>
                </div> 
            </div> 
        </div><!-- /.col-sm-6 -->
        <hr>

        <div class="col-lg-6 col-md-6" id="documentPlace">
            <div class="panel panel-primary">
                <div class="panel-heading ">
                    <h4 class="panel-title glyphicon glyphicon-globe">Document Techniques </h4>
                </div>
                <div class="panel-body">
                    {# affichage des aleres se trouvant dans la base de donnees #}
                   <p>Des articles de fond qui fournissent des conseils et de synthétiser une variété de sujets en matière de sécurité Internet.
                   Des résumés hebdomadaires des nouvelles vulnérabilités ainsi que des informations de patch lorsque disponibles.
                   Conseils et meilleures pratiques sur les questions de sécurité communes pour le grand public.
                    </p>
                     {# affichage des aleres se trouvant dans la base de donnees #}
                    <ul>
                        {% for annonce in liste_annonces %}
                            <li class="glyphicon glyphicon-chevron-right">
                                {{ annonce.titre }}
                                <a href="{{ path('cert_incident_voirAnnonce', { 'id': annonce.id }) }}">Detail</a><br/>
                            </li>
                          {% else %}
                            <li>Pas d'annonces pour le moment !!) </li>
                        {% endfor %}
                    </ul>
                        <a class="btn btn-primary" href="{{ path('cert_incident_ListeAnnonce') }}">liste complet &raquo;</a>
                </div> 
            </div> 
        </div><!-- /.col-sm-6 -->
    </div>
    <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Nous contacter</h2>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        <p>77 278 55 70</p>
                    </div>
                     <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class=" wow bounceIn"></i>
                        <p>| </p>
                    </div>
                     <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-envelope fa-3x wow bounceIn"></i>
                        <p> dieng.yacine@ugb.edu.sn</p>
                    </div>
                    
                   
                </div>
            </div>
    </section>
     <section id="contact">
            <div class="container">
                <div class="row">
                   <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Nos partenaire</h2>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        <p>  

                        <a href="#"><img class="second-slide" src="{{ asset('bundles/certincident/img/artp.png') }}" alt="Second slide"></a>

                      </p>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        <p>  

                        <a href="#"><img class="second-slide" src="{{ asset('bundles/certincident/img/artp.png') }}" alt="Second slide"></a>

                      </p>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        <p>  

                        <a href="#"><img class="second-slide" src="{{ asset('bundles/certincident/img/artp.png') }}" alt="Second slide"></a>

                      </p>
                    </div>
                     <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        <p>  

                        <a href="#"><img class="second-slide" src="{{ asset('bundles/certincident/img/artp.png') }}" alt="Second slide"></a>

                      </p>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        <p>  

                        <a href="#"><img class="second-slide" src="{{ asset('bundles/certincident/img/artp.png') }}" alt="Second slide"></a>

                      </p>
                    </div>       
                </div>
            </div>
    </section>
     
    </div>
<!--/contenu principal -->

{% endblock %}