{# template fils / page d'accueil du blog #}

{% extends "CertIncidentBundle::layouti.html.twig" %}

{% block title %} 
    Accueil - {{ parent() }} 
{% endblock %}

{% block certincident_body %}

    <!-- Carousel ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="{{ asset('bundles/certincident/img/logo1.png') }}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Conférence sur la cybercriminalité.</h1>
              <p id="slide1" class="resume-evenement">Note: If you're viewing this page via a <code>file://</code> URL, the Face à la montée de la cybercriminalité et de la cybersécurité, la Police nationale essaie de trouver les moyens technologiques adéquats pour contrer ces armes des délinquants 3.0. En attendant, elle investit dans la coopération internationale pour essayer de minimiser les menaces.</p>
              <p><a class="btn btn-sm btn-primary" href="" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="{{ asset('bundles/certincident/img/logo1.png') }}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p id="slide2" class="resume-evenement">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-sm btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="{{ asset('bundles/certincident/img/logo1.png') }}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p id="slide3" class="resume-evenement">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-sm btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
      </a>
    </div><!-- /.carousel -->

    <div id="contenuPage">
        <div class="col-lg-12 col-md-12">

        </div>      
        <div class="col-lg-9 col-md-9" id="vulnerabilitePlace">
            {# affichage des vulnerabilite se trouvant dans la base de donnees #}
            <h2 class="vulnerabilite_title"> 
                <i class="glyphicon glyphicon-alert"></i>
                Vulnérabilités Rencentes
            </h2>
            {% for vul in liste_vulnerabilite  %}
                {% if loop.index <=9 %}
                    <div class="col-lg-4 col-md-4 vulnerabilite_container ">
                        <div class="vulnerabilite_content">     
                            {% set img_url = (vul.image != null) ? vul.image : "uploads/pictures/81777_1.jpg" %}
                            <div class="cover">
                                <img src="{{ asset(img_url) }}" />
                            </div>
                            {% set text =   vul.titre|length > 45 ?  vul.titre|slice(0, 45) ~ '...' :  vul.titre  %}
                            <a  
                                href="{{ path('cert_incident_voirVulnerabilite', { 'id': vul.id }) }}" class="detail">{{ text }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-md-12">
                <a class="detail-btn pull-left " 
                    href="{{ path('cert_incident_ListingVulnerabilite') }}">
                     Voir plus <i class="fa fa-plus-circle"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 sidebar" id="alerte" >
            <h2>Alertes de sécurité</h2>
            <ul>
                {% for alerte in liste_alertes %}
                    {% if loop.index <9 %}
                    <li class=" info-item glyphicon glyphicon-chevron-right">
                        <a  
                            href="{{ path('cert_incident_voirAlerte', { 'id': alerte.id }) }}" class="">{{ alerte.titre }}
                        </a>
                    </li><br/>
                    {% endif %}
                  {% else %}
                    <li>Pas d'alerte pour le moment !!) </li>
                {% endfor %}
            </ul>
            <a class="detail-btn" href="#">
                 Voir plus <i class="fa fa-plus-circle"></i>
            </a>
        </div>

        <div class="col-lg-9 col-md-9" id="vulnerabilitePlace">
        
            <h2 class="vulnerabilite_title"> 
                <i class="glyphicon glyphicon-alert"></i>
                Annonces Récentes
            </h2>
            {% for annonce in liste_annonces  %}
                {% if loop.index <=9 %}
                    <div class="col-lg-4 col-md-4 vulnerabilite_container ">
                        <div class="vulnerabilite_content">     
                            {% set img_url = (annonce.image != null) ? annonce.image : "uploads/pictures/81777_1.jpg" %}
                            <div class="cover">
                                <img src="{{ asset(img_url) }}" />
                            </div>
                            {% set text =   annonce.titre|length > 45 ?  annonce.titre|slice(0, 45) ~ '...' :  annonce.titre  %}
                            <a  
                                href="{{ path('cert_incident_voirVulnerabilite', { 'id': annonce.id }) }}" class="detail">{{ text }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-md-12">
                <a class="detail-btn pull-left " 
                    href="{{ path('cert_incident_ListingVulnerabilite') }}">
                     Voir plus <i class="fa fa-plus-circle"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 sidebar" id="docs">
            <h2>Docs Techniques</h2>
            <ul>
                {% for alerte in liste_alertes %}
                    {% if loop.index <9 %}
                    <li class=" info-item glyphicon glyphicon-chevron-right">
                        {{ alerte.titre }}
                    </li>
                    {% endif %}
                  {% else %}
                    <li>Pas d'alerte pour le moment !!) </li>
                {% endfor %}
            </ul>
            <a class="detail-btn" href="#">
                 Voir plus <i class="fa fa-plus-circle"></i>
            </a>
        </div>
    </div>
<!--/contenu principal -->

{% endblock %}