 <div class="col-lg-6 col-md-6" id="alertePlace">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title glyphicon glyphicon-info-sign">Alertes de sécurité </h4>
                </div>
                <div class="panel-body">
                    {# affichage des aleres se trouvant dans la base de donnees #}
                    <ul>
                        {% for alerte in liste_alertes %}
                            {% if loop.index <6 %}
                            <li class=" info-item glyphicon glyphicon-chevron-right">
                                {{ alerte.titre }}
                                <a class="detail-btn" href="{{ path('cert_incident_voirAlerte', { 'id': alerte.id }) }}">Detail</a>
                            </li><br/>
                            {% endif %}
                          {% else %}
                            <li>Pas d'alerte pour le moment !!) </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel-footer">
                    <a class="btn pull-left btn-sm  btn-primary" href="{{ path('cert_incident_ListeAlerte') }}">voir plus &raquo;</a>
                </div> 
            </div> 
        </div><!-- /.col-sm-6 -->

Bienvenue sur le site web CERT-SN qui opte a offrir un Internet plus suur et plus resistant pour tous les senegalais en repondant a des incidents majeurs, analyse des menaces et l'echange d'information en matiere de cybersecurite crittique avec des partenaires de confiance du monde entier <div  id="cert_image" class="col-lg-12">
            <div id="">
                <span>  <a href="{{ path('cert_incident_declarer') }}" class="btn btn-primary">Signaler un Incident</a> </span>
            </div> 
        </div>. 













































               
        <div class="col-lg-6 col-md-6" id="annoncePlace">
            <div class="panel panel-primary">
                <div class="panel-heading ">
                    <h4 class="panel-title glyphicon glyphicon-globe">Annonces </h4>
                </div>
                <div class="panel-body">
                    {# affichage des aleres se trouvant dans la base de donnees #}
                    <p>Quatres produits dans le syst&eacute;me nationale de sensibilisation sur la cybers&eacute;curite: elle  offre une vari&eacute;t&eacute;    
                        d'informations pour les utilisateurs possedant une expertise technique vari&eacute;e. Ceux ayant  des interets plus techniques peuvent lire les alertes, l'activit&eacute; en cours , ou les bulletins. les utilsateurs a la recherche de plusieurs pi&eacute;ces d'interet g&eacute;n&eacute;ral peuvent lire les conseils.
                    </p>
                     {# affichage des aleres se trouvant dans la base de donnees #}
                    <ul>
                        {% for annonce in liste_annonces %}
                            <li class="glyphicon glyphicon-chevron-right">
                                {{ annonce.titre }}
                                <a href="{{ path('cert_incident_voirAnnonce', { 'id': annonce.id }) }}">Detail</a><br/>
                            </li>
                          {% else %}
                            <li>Pas d'annonces pour le moment !!) </li>
                        {% endfor %}
                    </ul>
                        <a class="btn btn-primary" href="{{ path('cert_incident_ListeAnnonce') }}">liste complet &raquo;</a>
                </div> 
            </div> 
        </div><!-- /.col-sm-6 -->
        <hr>

        <div class="col-lg-6 col-md-6" id="documentPlace">
            <div class="panel panel-primary">
                <div class="panel-heading ">
                    <h4 class="panel-title glyphicon glyphicon-globe">Document Techniques </h4>
                </div>
                <div class="panel-body">
                    {# affichage des aleres se trouvant dans la base de donnees #}
                   <p>Des articles de fond qui fournissent des conseils et de synthétiser une variété de sujets en matière de sécurité Internet.
                   Des résumés hebdomadaires des nouvelles vulnérabilités ainsi que des informations de patch lorsque disponibles.
                   Conseils et meilleures pratiques sur les questions de sécurité communes pour le grand public.
                    </p>
                     {# affichage des aleres se trouvant dans la base de donnees #}
                    <ul>
                        {% for annonce in liste_annonces %}
                            <li class="glyphicon glyphicon-chevron-right">
                                {{ annonce.titre }}
                                <a href="{{ path('cert_incident_voirAnnonce', { 'id': annonce.id }) }}">Detail</a><br/>
                            </li>
                          {% else %}
                            <li>Pas d'annonces pour le moment !!) </li>
                        {% endfor %}
                    </ul>
                        <a class="btn btn-primary" href="{{ path('cert_incident_ListeAnnonce') }}">liste complet &raquo;</a>
                </div> 
            </div> 
        </div><!-- /.col-sm-6 -->
    </div>
    <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Nous contacter</h2>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        <p>77 278 55 70</p>
                    </div>
                     <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class=" wow bounceIn"></i>
                        <p>| </p>
                    </div>
                     <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-envelope fa-3x wow bounceIn"></i>
                        <p> dieng.yacine@ugb.edu.sn</p>
                    </div>
                </div>
            </div>
    </section>
     <section id="contact">
            <div class="container">
                <div class="row">
                   <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Nos partenaire</h2>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        <p>  
                        <a href="#"><img class="second-slide" src="{{ asset('bundles/certincident/img/artp.png') }}" alt="Second slide"></a>
                      </p>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        <p>  
                        <a href="#"><img class="second-slide" src="{{ asset('bundles/certincident/img/artp.png') }}" alt="Second slide"></a>
                      </p>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        <p>  
                        <a href="#"><img class="second-slide" src="{{ asset('bundles/certincident/img/artp.png') }}" alt="Second slide"></a>
                      </p>
                    </div>
                     <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        <p>  
                        <a href="#"><img class="second-slide" src="{{ asset('bundles/certincident/img/artp.png') }}" alt="Second slide"></a>
                        </p>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        <p>  
                        <a href="#"><img class="second-slide" src="{{ asset('bundles/certincident/img/artp.png') }}" alt="Second slide"></a>
                      </p>
                    </div>       
                </div>
            </div>
    </section>
     
