{% extends "::layouti.html.twig" %}

{% block title %} 
     {{ parent() }} 
{% endblock %}

{% block body -%}
   
    <h3>Vulnerabilite: {{ entity.titre }}</h3>

    <div id="image_vulnerabilite">

        {% set img_url = (entity.image != null) ? entity.image : "uploads/pictures/81777_1.jpg" %}

        <div class="cadre_image">
            <img src="{{ asset(img_url) }}" />
        </div>

    </div>
    
     <div>
    <h3>Description</h3>            
        <p>{{ entity.description }}</p>
    <h3>Impact</h3>
        <p>{{ entity.impact }}</p>
    <h3>Solution</h3>
        <p>{{ entity.solution }}</p>
    <h3>Références</h3>
        <ul>
            {% for ref in entity.reference %}
                <li><a target="_blank" href="{{ ref }}">{{ ref }}</a></li>
            {% endfor %}
        </ul>
    <h3>Date de Publication</h3>
        <p>{{ entity.datePub|date('d/m/Y H:m:s') }}</p>
    <h3>Date dernière Modification</h3>
        <p>{{ entity.dateModification|date('d/m/Y H:m:s') }}</p>
    </div>
    <a href="{{ path('cert_incident_accueil') }}" class="btn btn-sm btn-info">
    <i class="fa fa-2x fa-home"></i> Accueil</a>
    <a href="{{ path('genererpdf',{ 'id': entity.id, 'type':'vulnerabilite' }) }}" class="btn btn-sm btn-danger">
        <i class="fa fa-2x fa-download"></i> Télécharger</a>
{% endblock %}
