{% extends "CertIncidentBundle::layouti.html.twig" %}

{% block title %} 
	Incident - {{ parent() }} 
{% endblock %}

{% block certincident_body %}

	<div class="count">
		<h2><center>Liste des Vulnérabilités ({{ pagination.getTotalItemCount }})</center></h2>
	</div>
	<table>
		<tr>
			 <th>
		        {{ knp_pagination_sortable(pagination, 'ID','Vulnerabilite.id') }}
		    </th>
			<th {% if pagination.isSorted('Alerte.Id')%}class="sorted"{% endif %}>
            	{{ knp_pagination_sortable(pagination, 'Titre', 'Vulnerabilite.titre') }}
            </th>
            <th>
		        {{ knp_pagination_sortable(pagination, 'Date de publication', ['Vulnerabilite.date', 'Vulnerabilite.time']) }}
		    </th>

		</tr>	
	
		{% for vulnerabilite in pagination %}
			
	        <tr {% if loop.index is odd %} class="color"{% endif %}>
	            <td>
	                {{ vulnerabilite.id }}
	            </td>
	            <td>
	                {{ vulnerabilite.titre }}
	            </td>
	            <td>
	                {{ vulnerabilite.datePub | date('Y-m-d H:i:s') }}
	            </td>			            
	        </tr>	
	   	{% endfor %}
	</table>

   	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}