{% extends '::layoutiAdmin.html.twig' %}

{% block body -%}
    <center><h1>Liste des alertes</h1></center>
    <hr>
    <ul>
        <a href="{{ path('admin_alerte_new') }}" class="btn btn-sm btn-success">
            <i class="fa fa-1x fa-plus"></i> Ajouter nouvelle alerte
        </a>
    </ul>
    
    <div class="col-lg-10">
        <table class="table table-bordered table-hover">
            <thead class="bg-primary">
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_alerte_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.titre }}</td>
                    <td>
                        <a href="{{ path('admin_alerte_show', { 'id': entity.id }) }}" class="btn btn-sm btn-info"/><i class="fa fa-1x fa-eye"></i> voir</a>
                            
                        <a href="{{ path('admin_alerte_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-success"/><i class="fa fa-1x fa-edit"></i> éditer</a>    
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
