{% extends '::layoutiAdmin.html.twig' %}

{% block body -%}
 <script type="text/javascript">
                $(document).ready(function() {
                    $('#alerteTable').DataTable();
} );
        </script>
   <center> <h1>Alerte Description</h1></center>

    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="alerteTable">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ entity.titre|raw }}</td>
                </tr>
                 <tr>
                <th>Systeme affecte</th>
                <td>{{ entity.systemeAffecte|raw }}</td>
            </tr>
            <tr>
                <th>Vu d'ensemble</th>
                <td>{{ entity.vuDensemble|raw }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description|raw }}</td>
            </tr>
            <tr>
                <th>Impact</th>
                <td>{{ entity.impact|raw }}</td>
            </tr>
            <tr>
                <th>Solution</th>
                <td>{{ entity.solution|raw }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>
                    <ul>
                        {% for ref in entity.reference %}
                            <li>{{ ref }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

        <ul >
            <a href="{{ path('admin_alerte') }}" class="btn btn-sm btn-info">
                <i class="fa fa-2x fa-menu-left"></i>Retourner &aacute; la liste
            </a>
            <a href="{{ path('admin_alerte_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-info"><i class="fa fa-2x fa-edit"></i>Editer</a>
            {{ form(delete_form) }}
        </ul>
    </div>
{% endblock %}